
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,900&display=swap');

$bgcolor:rgb(156, 197, 178);
// $headings:'Anton', sans-serif 'Rubik', sans-serif;

body{
    background: skyblue;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
h1{
    font-family:'Rubik', sans-serif;
}

h2{
    background-color: $bgcolor;
    font-family:'Rubik', sans-serif;
}
 
.nav-bg{
    background-color:rgb(156, 197, 178);
}

#nav-logo{
    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 0px 0;
    }
}


//mine
// .carousel {
//     height: auto;
//     width:100%;
//     overflow: hidden;
//     max-height: 500px;
// .carousel-inner{
//     width: 100%;
//     height:auto;
//     object-fit: contain;
//     .carousel-item{
//         max-height: 500px;
//             #text1{
//                 background-color:#11111b;
//                 opacity: .7;
//             }
//             #text2{
//                 background-color:#11111b;
//                 opacity: .6;
//             }
//             #text3{
//                 background-color:#11111b;
//                 opacity: .6;
//             }
//         img{
//             height: auto;
//             object-fit: contain;
//             width:100%;
//             max-height: 100%;
//         }
//     }
// }  
// }

#carouselExampleCaptions {
    position: relative;
.carousel {
    max-height: 500px;
}
    .carousel-item{
        height: 500px;
           
        img{
           
            max-height: 100%;
        }
    }

.carousel {
    height: auto;
    width:100%;
    overflow: hidden;
    max-height: 600px;
}

    .carousel-item{
        max-height: 600px;
        height:600px;
        position: relative;
            #text1{
                background-color:#11111b;
                border-radius: 5px;
                opacity: .7;
                font-family:'Rubik', sans-serif;
            }
            #text2{
                background-color:#383f23;
                border-radius: 5px;
                opacity: .7;
                font-family:'Rubik', sans-serif;;
            }
            #text3{
                background-color:#10294b;
                border-radius: 5px;
                opacity: .7;
                font-family:'Rubik', sans-serif;
            }
        img{
            height: auto;
            // object-fit: cover;
            width:100%;
            max-height: 100%;
        }
    }
}

#image{
    width:100%;
    height:350px;
}

#button-style{
    display: flex;
}
  

// .bg{
//     background-color: rgb(248, 220, 210);
// }